<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Database command timeout in seconds -->
    <add key="Timeout" value="0" />
    <!-- Replication interval in seconds -->
    <add key="Interval" value="10" />
    <!-- Only perform a test run, do not alter destination databases -->
    <add key="DryRun" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>